body{
  margin: 0;
  padding: 0;
}

.head{
  font-size: 25px;
  color: white;
  background: #109382;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  padding: 1%;
}

#heading{
  font-size: 80px;
}

.middle{
  padding: 0.5%;
  width: 50%;
  margin: auto;
  text-align: center;
  color: #109382;
}

.main{
  width: 100%;
  background: black;
  margin-top: 0;
}

.container{
  width: 50%;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.games{
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
  color: white;
  text-align: center;
  font-size: 40px;
  border: 1.5px solid #109382;
  padding:1%;
}

.icon{
  width: 98%;
  margin: auto;
  height: 300px;
  background: white;
  margin-bottom: 1%;
}

.bottom{
  font-family: cursive !important;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: #109382;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .icon{
    height: 200px;
  }

  .middle{
    width: 100%;
    font-size: 70px;
  }

  .head{
    font-size: 70px;
  }

  #heading{
    font-size: 120px;
  }

}
